{% extends "base.html" %}
{% block titlemore %}
({{status_code}})
{% end %}
{% block body %}
<div class="container error">
    <div class="center">
        <h2>抱歉 ^,^</h2>
        <p>
{{'页面未找到，可能是因为您的链接地址有误，或者该页面尚未被创建' if status_code==404 else '遇到一点小故障，我们会尽快修复的，多谢~'}}
        </p>
        <p>({{status_code}})</p>
        <p>
            <a href="/" title="{{_('Back')}}{{_('Home')}}">{{_('Back')}}{{_('Home')}}</a>
        </p>
        <p align="center"style="background-color: #92d050;">
            访问
            <a style="color: #008000;"target="_blank"href="http://yibo.iyiyun.com/Home/js/yibo404">404公益</a>
            帮助妈妈找回走失的孩子！  愿我们生活的世界更美好 :-)
        </p>

        <br/>
    </div>
</div>
{% end %}
